<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="oficina_deportesEntities" connectionString="metadata=res://*/oficina_deportes.csdl|res://*/oficina_deportes.ssdl|res://*/oficina_deportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2458S63;initial catalog=oficina_deportes;user id=sa;password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="oficina_deportesEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2458S63;initial catalog=oficina_deportes;user id=sa;password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>